<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<main>
		<h3>Upcoming Events</h3>
		
		<table>
			<thead>
				<tr>
					<th>Event Title</th>
					<th>Sport</th>
					<th>Location</th>
					<th>Date</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				
				<tr data-th-each="event: ${event}">
					<td data-th-text="${event.title}"><a href="/event/${event.id}"></a></td>
					<td data-th-text="${event.sport}"></td>
					<td data-th-text="${event.location}"></td>
					<td data-th-text="${#dates.format(event.date, 'MM-dd-yyyy')}"></td>
					<td data-th-text="${event.time}"><td>
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>